:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d8e4e6;
}

.title {
  font-size: 50px;
  margin: 30px;
}
.underline {
  text-decoration: underline;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.hamu {
  color: brown;
}
p {
  color: black;
}
h2 {
  color: black;
}
@media (prefers-color-scheme: dark) {
  p {
    color: black;
  }
  h2 {
    color: black;
  }
  h1 {
    color: black;
  }
}
