.Products_title {
  margin-right: 20px;
  font-size: 25px;
  border-left: solid #4ea2c6 10px;
}
.DivideLine {
  border-bottom: dotted 2px #cfbeaf;
  padding-top: 1em;
  margin: 0 0 -0.5em;
}

.Products_contents {
  margin: 30px;
}
.Products_sentence {
  margin-top: 10px;
}
.Tags {
  display: flex;
  float: left;
}
.Tag {
  padding: 0.2em 0.5em;
  background: #add0df;
  border: solid 2px #f0d69a;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.Tag_p {
  color: #997f42;
}
.title_parent {
  display: flex;
  padding: 30px;
}
.Products_link {
  color: #0065fd;
}
.Products_title_text {
  margin: 0px;
  color: #4ea2c6;
}

@media (max-width: 599px) {
  .title_parent {
    display: block;
  }

  .Tags {
    margin-top: 10px;
  }
}
