.footerText {
  display: flex;
  width: 60%;

  justify-content: space-evenly;
}
.footerText_title {
  color: #f8e5ee;
  font-size: 50px;
  padding: 20px;
}
.footerArea {
  background-color: #3d1308;
  display: flex;
}
.footerText_message {
  color: #f8e5ee;
  font-size: 15px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
.links {
  color: #f8e5ee;
  font-size: 15px;
  padding: 5px;
}
.links_children {
  display: flex;
  flex-direction: column;
}
.links_title {
  font-size: 20px;
}
.pages {
  color: #f8e5ee;
  font-size: 15px;
  padding: 5px;
}
.pages_children {
  display: flex;
  flex-direction: column;
}
.pages_title {
  font-size: 20px;
}
.PageAndLink {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}
@media (max-width: 599px) {
  .footerArea {
    flex-direction: column;
  }
  .footerText {
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
  }
  .PageAndLink {
    justify-content: space-evenly;
    width: 100%;
  }
  .footerText_title {
    font-size: 0;
  }
}
